@font-face {
  font-family: "iconfont"; /* Project id 3260931 */
  src: url("iconfont.woff2?t=1665040315230") format("woff2"),
    url("iconfont.woff?t=1665040315230") format("woff"),
    url("iconfont.ttf?t=1665040315230") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e609";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-weixin:before {
  content: "\e733";
}

.icon-baitianmoshi:before {
  content: "\e769";
}

.icon-touxiang:before {
  content: "\e60d";
}

.icon-wenzhang1:before {
  content: "\e659";
}

.icon-xiangmu:before {
  content: "\e63a";
}

.icon-yejianmoshi:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e6ea";
}

.icon-shuyi_fanyi-36:before {
  content: "\e65c";
}

.icon-moon:before {
  content: "\e62a";
}

.icon-sun:before {
  content: "\e62b";
}

.icon-fanhui:before {
  content: "\e612";
}

.icon-wenjianjia:before {
  content: "\e60f";
}
