pre {
  display: block;
  background-color: #f3f3f3;
  padding: 1rem !important;
  overflow-y: auto;
  font-weight: 500;
  border-radius: 0.3rem;
}
pre {
  background-color: #283646 !important;
}
pre > code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
}
code {
  display: inline-block;
  // background-color: #f3f3f3;
  border: 1px solid #618dbf;
  border-radius: 3px;
  font-size: var(--font-size-sm);
  padding-left: 5px;
  padding-right: 5px;
  // color: #4f4f4f;
  margin: 0px 3px;
}
iframe {
  height: 34rem;
}

// 设置描点边距
.anchor-fix {
  display: block;
  h2 {
    // margin: 0;
    border-left: 3px solid var(--border-color);
    background-color: var(--sub-color2);
    padding: 10px;
  }
  h3 {
    border-bottom: 1px dashed var(--border-color);
    padding: 10px;
  }
  // border-bottom: 1px solid #f3f3f3;
}

.markdown {
  font-size: var(--font-size);
  line-height: 30px;
  ol,
  ul {
    padding-left: 20px;
  }
  a {
    color: #58a6ff;
  }
  blockquote {
    padding: 0 10px;
    line-height: 30px;
    overflow: hidden;
    background-color: var(--sub-color2);
    border-left: 5px solid var(--border-color);
    color: #888 !important;
    border-radius: 0 !important;
    font-weight: 550;
    margin-right: 0;
  }
  img {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    // padding: 2px;
    margin: 0;
  }
}
