@import "./variable.scss";
@import "./def.scss";

* {
  // transition: 0.5s;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color1);
  transition: 0.5s;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}

input,
textarea,
button {
  border: 1px solid var(--border-color);
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: var(--margin) 0;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // padding: 20px;

  .main_content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: var(--padding-sm);
    flex: 1;
    position: relative;
    .blog_content {
      max-width: var(--main-width);
      display: flex;
      justify-content: space-between;
      margin: 0 auto 0;
      .head_image {
        position: fixed;
        width: 23px;
        height: 23px;
        display: none;
        top: var(--padding);
        left: var(--padding);
      }
      .left-box {
        position: sticky;
        height: 100%;
        top: 0;
        left: 0;
        flex: 0 0 288px;
        scrollbar-width: none; /* firefox */
        -ms-overflow-style: none; /* IE 10+ */
        overflow-y: auto;
        .close {
          position: absolute;
          right: 20px;
          top: 20px;
          display: none;
        }
      }
      .left-box::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
      .rigth-box {
        position: relative;
        width: 200px;
        flex: 1 1;
        margin-left: var(--margin);
      }
    }
  }

  .main_title {
    width: 100%;
    height: var(--top-bar-height);
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: var(--margin) 0;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: var(--padding) 0;
  .title {
    font-size: var(--font-size);
    color: var(--text-color);
  }
  ul {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: var(--font-size);
      margin: 5px 0;
      .icon {
        margin-right: 10px;
        color: var(--text-color);
      }
    }
  }
}

@media (min-width: 920px) and (max-width: 1120px) {
  :root {
    --main-width: 900px;
    --margin: 0px;
  }
  .main {
    .blog_content {
      .left-box {
        flex: 0 0 200px;
      }
    }
  }
}

@media (max-width: 920px) {
  :root {
    --main-width: 100% !important;
    --margin: var(--margin-sm) !important;
    --padding: var(--padding-sm) !important;
  }
  .blog_title {
    display: none;
  }
  .main {
    .main_title {
      padding: 0 12px;
      .head .head_image {
        display: block;
      }
    }
    .main_content {
      .blog_content {
        .head_image {
          display: inline;
        }
        .left-box {
          position: fixed;
          top: 0;
          left: 0;
          width: 288px;
          height: 100%;
          z-index: 1;
          border: 1px solid var(--border-color);
          background-color: var(--main-color);
          transform: translateX(-288px);
          padding: 30px;
          transition: 0.5s;
          .close {
            display: block;
          }
        }
        .rigth-box {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
