:root{
  --top-bar-height: 55px;
  --main-width: 1100px;
  --margin: 30px;
  --padding: 30px;

  --main-color: #fff;
  --sub-color: #fafafa;
  --sub-color2: #f5f5f5;
  --shadow-color: #dee2e6;
  --border-color: #eaeaea;
  --text-color: #000;
  --text-color1: #555;
  --text-color2: #999;

}
.dark{
  --main-color: #000;
  --sub-color: #111;
  --sub-color2: #1d1d1d;
  --shadow-color: #dee2e6;
  --border-color: #333;
  --text-color: #fff;
  --text-color1: #999;
  --text-color2: #555;
}
